<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videogame Visualisation</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- for icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>

    <div class="tabhandle">
        <i class="fas fa-filter" style="font-size: 28px; color: white; transform: translateX(80%) translateY(40%);"></i>
    </div>


    <div id="barchart"></div>


    <div id="filter-container">
        <div id="header">
            <span><strong>FILTER</strong></span>
        </div>
        <div id="filter">
        <div>
            <div class="dropdown-button" value="genre-filter">
                <span>genre</span>
                <div class="drop" value="genre-filter"><i class="fas fa-caret-down" value="genre-filter"></i></div>
            </div>
            <div class="options genreToggle" id="genre-filter"></div>

            <div class="dropdown-button" value="platform-filter">
                <span>platform</span>
                <div class="drop" value="platform-filter"><i class="fas fa-caret-down" value="platform-filter"></i></div>
            </div>
            <div class="options" id="platform-filter"></div>

            <div class="dropdown-button" value="publisher-filter">
                <span>publisher</span>
                <div class="drop" value="publisher-filter"><i class="fas fa-caret-down" value="publisher-filter"></i></div>
            </div>
            <div class="options" id="publisher-filter"></div>

            <div id="range">
                <div id="range-label">Global Sales In Million</div>
                <div>
                    <div class="range-value" id="min"></div>
                    <div class="range-value" id="max"></div>
                </div>
                <div id="slider-range"></div>
            </div>
        </div>
        </div>
    </div>


    <div class="pie-chart-container">
        
        <form>
            <button type="button" id="toggle-sales"></button>
        </form>
        
        <div id="platform-container"></div>
        <div id="genre-container"></div>
        <div id="publisher-container"></div>
        
    </div>




<script type="text/javascript">


// -------------------------------------------------------------------------
// LOAD DATA
// -------------------------------------------------------------------------

    var data = [];
    

    $.ajax({
        url: '../static/data.json',
        async: false,
        dataType: 'json',
        success: function (json) {
            data = json;
        }
    });


            
// -------------------------------------------------------------------------
// GLOBAL VARIBLES
// -------------------------------------------------------------------------

    var minRange = 0;
    var maxRange = 82.74*1000000;
    var filtered = data;

            
// -------------------------------------------------------------------------
// FILTER
// -------------------------------------------------------------------------

    var filterQuery = {
        genre: [],
        platform: [],
        publisher: []
        };


    function filter(e) {
        if (e != null) {


            if(e.target.checked == true) {
                if(e.target.getAttribute("typo") == "genre")
                    filterQuery.genre.push(e.target.value);

                if(e.target.getAttribute("typo") == "platform")
                    filterQuery.platform.push(e.target.value);

                if(e.target.getAttribute("typo") == "publisher")
                    filterQuery.publisher.push(e.target.value);
            } else {
                if(e.target.getAttribute("typo") == "genre") {
                    for( var i = 0; i < filterQuery.genre.length; i++){
                        if (filterQuery.genre[i] === e.target.value) {
                            filterQuery.genre.splice(i, 1);
                            i--;
                        }
                    }
                }

                if(e.target.getAttribute("typo") == "platform") {
                    for( var i = 0; i < filterQuery.platform.length; i++){
                        if (filterQuery.platform[i] === e.target.value) {
                            filterQuery.platform.splice(i, 1);
                            i--;
                        }
                    }
                }

                if(e.target.getAttribute("typo") == "publisher") {
                    for( var i = 0; i < filterQuery.publisher.length; i++){
                        if (filterQuery.publisher[i] === e.target.value) {
                            filterQuery.publisher.splice(i, 1);
                            i--;
                        }
                    }
                }
              }

        }

            filtered = data.filter(function(d) {
                return d.global_sales >= minRange && d.global_sales <= maxRange;
            });

            filtered = filtered.filter(function(obj) {
                return Object.keys(filterQuery).every( function(key) {

                    return (Array.isArray(filterQuery[key]) && (filterQuery[key].some( function(criteria) {
                        return (typeof obj[key] === 'string' && obj[key] == criteria)
                         })) || filterQuery[key].length === 0);
                    });
                });


            d3.select('#barsvg').remove();

            render(filtered);
    }


  




    function generateOptions(data, category) {
        var genres = [];
        var selector = "#" + category + "-filter";

        for(var i = 0; i < data.length; i++) {
            if (!genres.includes(data[i][category].toString()))
                genres.push(data[i][category].toString());
        }
        for (var k = 0; k < genres.length; k++) {
            var html = "<label class='container'><span>" + genres[k] + "</span><input onclick='filter(event)' class='check' id='MyBox3' type='checkbox' value='" + genres[k] + "' typo ='" + category + "'><span class='checkmark'></span></label>";
            $(selector).append(html);
        }
    }


    generateOptions(data, "genre");
    generateOptions(data, "platform");
    generateOptions(data, "publisher");



    $( function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 83,
            values: [0, 82.74],
            slide: function( event, ui ) {
                $("#min").text(ui.values[0]);
                $("#max").text(ui.values[1]);
            },
            stop: function (event, ui) {
                minRange = ui.values[0]*1000000;
                maxRange = ui.values[1]*1000000;
                filter();
                render(filtered);
            }
        });
        $( "#min" ).text($( "#slider-range" ).slider( "values", 0 ));
        $( "#max" ).text($( "#slider-range" ).slider( "values", 1 ));
    });


    $('.tabhandle').click(function(e) {
        var filter = $('#filter-container');
        if(filter.css("display") == "none") {
            filter.css("display", "inline-block");
            $(this).css("margin-left", "calc(25% - 10px)");
        } else {
            filter.css("display", "none");
            $(this).css("margin-left", "-10px");
        }
        });


    $('.dropdown-button').click(function(e) {

        var selected = "#" + e.target.getAttribute("value");
        var drop = $(selected);

        if(drop.css("display") == "none") {
            drop.css("display", "block");
        } else {
            drop.css("display", "none");
        }

    });


// -------------------------------------------------------------------------
// CONSTANTS
// -------------------------------------------------------------------------


    const size = 800 
    const radius = (size / 2) - 200;

    var scaleBySales = false;
    const kindOfSales = "global_sales";


// -------------------------------------------------------------------------
// BUTTONS
// -------------------------------------------------------------------------

    var toggleSalesButton = document.getElementById("toggle-sales");
    toggleSalesButton.addEventListener("click", toggle);

    function toggle() {
        if (scaleBySales) {
            scaleBySales = false;
        } else {
            scaleBySales = true;
        }
        render(filtered);
    }


// -------------------------------------------------------------------------
// PIE-CHART
// -------------------------------------------------------------------------


    // ---------------------------------------------------------------------
    // HELPERS
    // ---------------------------------------------------------------------


    function getFeatureDataForPie(data, feature, scaleBySales, kindOfSales) {
        const featureData = [];

        for (var i = 0; i < data.length; i++) {
            var featureKey = data[i][feature];
            var flag = true;
            for (var j = 0; j < featureData.length; j++) {
                if (featureData[j].key == featureKey) {
                    if (scaleBySales) {
                        featureData[j].value += data[i][kindOfSales];
                    } else {
                        featureData[j].value += 1;
                    }
                    flag = false;
                    break;
                } 
            }
            if (flag) {
                if (scaleBySales) {
                    featureData.push({"key" : featureKey, "value" : data[i][kindOfSales]});
                } else {
                    featureData.push({"key" : featureKey, "value" : 1});
                }
            }
        }

        return featureData;
    }


    function getClassForPie(d) {
        var c = "arc ";
        c += d.data.key.replace(/ /g, "-").replace(/^[0-9]/,"--");
        return c;
    }


    // ---------------------------------------------------------------------
    // MOUSE-EVENTS
    // ---------------------------------------------------------------------


    function mouseoverPie(d) {
        //change opacity of pie
        d3.select(this)
            .style("opacity", "1.0");
        //change color of bar
        d3.selectAll(".rect." + this.parentElement.classList[1])
            .attr("fill", "red");
        //show info in middle of pie
        d3.selectAll(".info." + d.data.key.replace(/ /g, "-").replace(/^[0-9]/,"--"))
        .style("opacity", "1.0");
        //show sales on bar chart
        //todo
    }


    function mouseoutPie(d) {
        //change opacity of pie
        d3.select(this)
            .style("opacity", "0.5")
        //change color of bar
        d3.selectAll(".rect." + this.parentElement.classList[1])
            .attr("fill", "#7283a7");
        //hide info in middle of pie
        d3.selectAll(".info." + d.data.key.replace(/ /g, "-").replace(/^[0-9]/,"--"))
            .style("opacity", "0.0");
        //hide sales on bar chart
        //todo
    }


    // ---------------------------------------------------------------------
    // RENDERING
    // ---------------------------------------------------------------------

    function renderArcs(svg, pie, featureData, arc, color) {

        var g = svg.selectAll(".arc")
            .data(pie(featureData))
            .enter()
            .append("g")
            .attr("transform", "translate(" + (size / 2) + "," + (size / 2) + ")")
            .attr("class", getClassForPie);

        g.append("path")
            .attr("d", arc)
            .style("fill", color)
            .style("stroke", "black")
            .style("opacity", "0.5")
            .on("mouseover", mouseoverPie)
            .on("mouseout", mouseoutPie);
    }


    function renderLabels(svg, pie, featureData) {
        var textArc = d3.arc()
            .innerRadius(radius * 1.45)
            .outerRadius(radius * 1.45);

        svg.selectAll(".label")
            .data(pie(featureData))
            .enter()
            .append("text")
            .attr("transform", "translate(" + (size/ 2) + "," + (size / 2) + ")")
            .attr("dy", ".35em")
            .attr("class", "label")
            .attr("fill", "white")
            .style("font-weight", "bold")
            .style("font-family", "'Arial Black','Courier New',Verdana")
            .attr('transform', function(d) {
                var pos = textArc.centroid(d);
                var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2
                pos[0] += (size / 2);
                pos[1] += (size / 2);
                return 'translate(' + pos + ')';
            })
            .style('text-anchor', function(d) {
                var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2
                return (midangle < Math.PI ? 'start' : 'end')
            })
            .text(d => {
                if ((d.endAngle - d.startAngle) / (2 * Math.PI) * 100 > 2) {
                    return d.data.key;
                }
            });

    }


    function renderLines(svg, pie, featureData, arc) {
        var textArc = d3.arc()
            .innerRadius(radius * 1.4)
            .outerRadius(radius * 1.4);

        svg.selectAll(".line")
            .data(pie(featureData))
            .enter()
            .append("polyline")
            .attr("transform", "translate(" + (size/ 2) + "," + (size / 2) + ")")
            .attr("stroke", "white")
            .style("fill", "none")
            .attr("stroke-width", "2")
            .attr("points", d => {
                if ((d.endAngle - d.startAngle) / (2 * Math.PI) * 100 > 2) {
                    var posA = arc.centroid(d);
                    var posB = textArc.centroid(d);
          
                    return [posA, posB];
                }
            });
    }


    function renderInfo(svg, pie, featureData) {
         svg.selectAll(".info.key")
            .data(pie(featureData))
            .enter()
            .append("text")
            .attr("transform", "translate(" + (size/ 2) + "," + (size / 2) + ")")
            .attr("dy", d => {
                if (scaleBySales) {
                    return "-3.0%";
                } else {
                    return "-1.5%";
                }
            })
            .attr("class", d => {
                return "info key " + d.data.key.replace(/ /g, "-").replace(/^[0-9]/,"--")
            })
            .attr("fill", "white")
            .style("opacity", "0.0")
            .style("text-anchor", "middle")
            .style("font-weight", "bold")
            .style("font-family", "'Arial Black'")
            .text(d => d.data.key);

        var format = d3.format(".1f");

        svg.selectAll(".info.percent")
            .data(pie(featureData))
            .enter()
            .append("text")
            .attr("transform", "translate(" + (size/ 2) + "," + (size / 2) + ")")
            .attr("dy", d => {
                if (scaleBySales) {
                    return "0.0%";
                } else {
                    return "1.5%";
                }
            })
            .attr("class", d => {
                return "info percent " + d.data.key.replace(/ /g, "-").replace(/^[0-9]/,"--")
            })
            .attr("fill", "white")
            .style("opacity", "0.0")
            .style("text-anchor", "middle")
            .style("font-family", "'Arial Black'")
            .text(d => format((d.endAngle - d.startAngle) / (2 * Math.PI) * 100) + " %");

        if (scaleBySales) {
            svg.selectAll(".info.sales")
                .data(pie(featureData))
                .enter()
                .append("text")
                .attr("transform", "translate(" + (size/ 2) + "," + (size / 2) + ")")
                .attr("dy", "3.0%")
                .attr("class", d => {
                    return "info sales " + d.data.key.replace(/ /g, "-").replace(/^[0-9]/,"--")
                })
                .attr("fill", "white")
                .style("opacity", "0.0")
                .style("text-anchor", "middle")
                .style("font-family", "'Arial Black'")
                .text(d => d.data.value / 1000000 + " M");
        }
    }


    function renderPieChart(data, feature, color, scaleBySales, kindOfSales) {
        d3.select("#"  + feature).remove();
        d3.select("#"  + feature + "-container")
            .append("svg")
            .attr("id", feature)
            .attr("width", size)
            .attr("height", size);


        const svg = d3.select("#" + feature);

        var pie = d3.pie()
            .value(d => d.value);

        var arc = d3.arc()
            .innerRadius(radius - 100)
            .outerRadius(radius);

        const featureData = getFeatureDataForPie(data, feature, scaleBySales, kindOfSales);

        renderArcs(svg, pie, featureData, arc, color);
        renderLabels(svg, pie, featureData);
        renderLines(svg, pie, featureData, arc);
        renderInfo(svg, pie, featureData);
    }


    function renderPies(data) {
        renderPieChart(data, "platform", "blue", scaleBySales, kindOfSales);
        renderPieChart(data, "genre", "yellow", scaleBySales, kindOfSales);
        renderPieChart(data, "publisher", "red", scaleBySales, kindOfSales);
    }


// -------------------------------------------------------------------------
// BAR-CHART
// -------------------------------------------------------------------------


    // ---------------------------------------------------------------------
    // HELPERS
    // ---------------------------------------------------------------------


    function getClassForBar(d) {
        var c = "rect ";
        c += d.platform.replace(/ /g, "-").replace(/^[0-9]/,"--") + " ";
        c += d.genre.replace(/ /g, "-").replace(/^[0-9]/,"--") + " ";
        c += d.publisher.replace(/ /g, "-").replace(/^[0-9]/,"--");
        return c;
    }


    // ---------------------------------------------------------------------
    // MOUSE-EVENTS
    // ---------------------------------------------------------------------


    function mouseoverBar(d) {
        //change color of bar
        //d3.select(this)
        //    .attr("fill", "red");
        var hover = d3.select(this);
        hover.transition()
           .duration(200)
           .attr('width', d => xScale(xValue(d)) + 5)
           .attr("y", d => yScale(yValue(d)) - 2.5)
           .attr("height", yScale.bandwidth() + 1);
        hover.attr("fill", "red");
        hover.style("cursor", "pointer");
        var size = (d.global_sales / 1000000) + " M";
        size = size.length;

        g.append("text")
            .attr("class", "salesHover")
            .attr('x', function() {
                return xScale(d.global_sales) + 15;
            })
            .attr('y', function() {
                return yScale(d.name) + 18; //stimmt schonmal von der Höhe her
            })
            .text(function() { return (d.global_sales / 1000000) + "M";});

        //change opacity of pie
        d3.selectAll(".arc." + this.classList[1] + " path")
            .style("opacity", "1.0");
        d3.selectAll(".arc." + this.classList[2] + " path")
            .style("opacity", "1.0");
        d3.selectAll(".arc." + this.classList[3] + " path")
            .style("opacity", "1.0");

        //change opacity of info in pie
        d3.selectAll(".info." + this.classList[1])
            .style("opacity", "1.0");
        d3.selectAll(".info." + this.classList[2])
            .style("opacity", "1.0");
        d3.selectAll(".info." + this.classList[3])
            .style("opacity", "1.0");
    }


    function mouseoutBar(d) {
        //change color of bar
        //d3.select(this)
        //    .attr("fill", "black");
        d3.selectAll('.salesHover')
            .remove()
        var hover = d3.select(this);
        hover.transition()
           .duration(200)
           .attr('y', d => yScale(yValue(d)))
           .attr('width', d => xScale(xValue(d)))
           .attr('height', yScale.bandwidth() - 5)
           .attr("fill","#7283a7");

        //change opacity of pie
        d3.selectAll(".arc." + this.classList[1] + " path")
            .style("opacity", "0.5");
        d3.selectAll(".arc." + this.classList[2] + " path")
            .style("opacity", "0.5");
        d3.selectAll(".arc." + this.classList[3] + " path")
            .style("opacity", "0.5");

        //change opacity of info in pie
        d3.selectAll(".info." + this.classList[1])
            .style("opacity", "0.0");
        d3.selectAll(".info." + this.classList[2])
            .style("opacity", "0.0");
        d3.selectAll(".info." + this.classList[3])
            .style("opacity", "0.0");
    }


    // ---------------------------------------------------------------------
    // RENDERING
    // ---------------------------------------------------------------------

    const xAxisLabelText = 'Global Sales';
    var xValue;
    var yValue;
    var xScale;
    var yScale;
    var g;


    function renderBar(data) {

        const width = 800;
        const height = 1080;
        xValue = d => d.global_sales;
        idValue = d => d.id;
        yValue = d => d.name;
        
        const margin = { top: 30, right: 70, bottom: 77, left: 180 + 132 };
        const innerWidth = width - margin.left - margin.right;
        const innerHeight = height - margin.top - margin.bottom;
        xScale = d3.scaleLinear()
            .domain([0, d3.max(data, xValue)])
            .range([0, innerWidth]);
  
        yScale = d3.scaleBand()
            .domain(data.map(yValue))
            .range([0, innerHeight])
            .padding(0.1);

        d3.select('#barchart svg').remove();

        var svg = d3.select('#barchart').append('svg')
            .attr("id", "barsvg")
            .attr("width" , width)
            .attr("height", height)

        g = svg.append('g')
            .attr('transform', `translate(${margin.left},${margin.top})`);



        const xAxisTickFormat = number =>
            d3.format('.3s')(number)
            .replace('G', 'B');
  
        const xAxis = d3.axisBottom(xScale)
            .tickFormat(xAxisTickFormat)
            .tickSize(-innerHeight);

        g.append('g')
            .call(d3.axisLeft(yScale))
            .selectAll('.domain, .tick line')
            .remove();

        const xAxisG = g.append('g').call(xAxis)
            .attr('transform', `translate(0,${innerHeight})`);
  
        xAxisG.select('.domain').remove(); //deletes the line of the x axis
  
        xAxisG.append('text')
            .attr('class', 'axis-label')
            //.style("font-family", "'Arial Black'")
            .attr('x', innerWidth / 2)
            .text(xAxisLabelText);
      
        g.selectAll('rect').data(data)
            .enter().append('rect')
            .on("mouseover", mouseoverBar)
            .on("mouseleave", mouseoutBar)
            .attr('y', d => yScale(yValue(d)))

            .attr('width', d => xScale(xValue(d)))
            .attr('height', yScale.bandwidth() - 5)
            .attr("class", getClassForBar)
            .attr("fill",  "#7283a7");
    }
    


// -------------------------------------------------------------------------
// 
// -------------------------------------------------------------------------
    function render(data) {
        renderBar(data.slice(0, 50));
        renderPies(data);
      }
        
   

render(data);



</script>


</body>

</html>