<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videogame Sunburst</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"></link>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='interaction.js') }}"></script>
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->

</head>
<body>


<div class="container">
    <div class="barchart-container">
        <svg id="barchart" width="600" height="1800"></svg>
    </div>




    <div class="pie-chart-container">

 
        <div id="platform-container"></div>
        <div id="genre-container"></div>
        <div id="publisher-container"></div>


    </div>
</div>



<script type="text/javascript">

    const size = 400

    function renderPlatform(data) {

        const radius = size / 2;

        d3.select("#platform-container")
            .append("svg")
            .attr("id", "platform")
            .attr("width", size)
            .attr("height", size);

        const svg = d3.select("#platform");

        const platforms = [];

        for (var i = 0; i < data.length; i++) {
            var platform = data[i].platform;
            var flag = true;
            for (var j = 0; j < platforms.length; j++) {
                if (platforms[j].key == platform) {
                    platforms[j].value += 1;
                    flag = false;
                    break;
                } 
            }
            if (flag) {
                platforms.push({"key" : platform, "value" : 1})
            }
        }

        var arc = d3.arc()
            .innerRadius(radius - 130)
            .outerRadius(radius);

        var pie = d3.pie()

            .value(d => d.value);

        var g = svg.selectAll(".arc")
            .data(pie(platforms))
            .enter()
            .append("g")
            .attr("transform", "translate(" + radius + "," + radius + ")")
            .attr("class", function (d) {
                var c = "arc ";
                c += d.data.key;
                return c;
            });

        g.append("path")
            .attr("d", arc)
            .style("fill", "blue")
            .style("stroke", "black")
            .style("opacity", "0.5")
            .on("mouseover", hover)
            .on("mouseout", out);

            function hover (d) {
                d3.select(this)
                    .style("opacity", "1.0");
            }

            function out(d) {
                d3.select(this)
                    .style("opacity", "0.5")
            }
    }


    function renderGenre(data) {

        const radius = size / 2;

        d3.select("#genre-container")
            .append("svg")
            .attr("id", "genre")
            .attr("width", size)
            .attr("height", size);

        const svg = d3.select("#genre");

        const genres = [];

        for (var i = 0; i < data.length; i++) {
            var genre = data[i].genre;
            var flag = true;
            for (var j = 0; j < genres.length; j++) {
                if (genres[j].key == genre) {
                    genres[j].value += 1;
                    flag = false;
                    break;
                } 
            }
            if (flag) {
                genres.push({"key" : genre, "value" : 1})
            }
        }

        var arc = d3.arc()
            .innerRadius(radius - 130)
            .outerRadius(radius);

        var pie = d3.pie()
            .value(d => d.value);

        var g = svg.selectAll(".arc")
            .data(pie(genres))
            .enter()
            .append("g")
            .attr("transform", "translate(" + radius + "," + radius + ")")
            .attr("class", "arc");

        g.append("path")
            .attr("d", arc)
            .style("fill", "yellow")
            .style("stroke", "black")
            .style("opacity", "0.5")
            .on("mouseover", hover)
            .on("mouseout", out);

            function hover (d) {
                d3.select(this)
                    .style("opacity", "1.0");
            }

            function out(d) {
                d3.select(this)
                    .style("opacity", "0.5")
            }
    }


function renderPublisher(data) {

        
        const radius = size / 2;

        d3.select("#publisher-container")
            .append("svg")
            .attr("id", "publisher")
            .attr("width", size)
            .attr("height", size);

        const svg = d3.select("#publisher");

        const publishers = [];

        for (var i = 0; i < data.length; i++) {
            var publisher = data[i].publisher;
            var flag = true;
            for (var j = 0; j < publishers.length; j++) {
                if (publishers[j].key == publisher) {
                    publishers[j].value += 1;
                    flag = false;
                    break;
                } 
            }
            if (flag) {
                publishers.push({"key" : publisher, "value" : 1})
            }
        }

        var arc = d3.arc()
            .innerRadius(radius - 130)
            .outerRadius(radius);

        var pie = d3.pie()
            .value(d => d.value);

        var g = svg.selectAll(".arc")
            .data(pie(publishers))
            .enter()
            .append("g")
            .attr("transform", "translate(" + radius + "," + radius + ")")
            .attr("class", "arc");

        g.append("path")
            .attr("d", arc)
            .style("fill", "red")
            .style("stroke", "black")
            .style("opacity", "0.5")
            .on("mouseover", hover)
            .on("mouseout", out);

            function hover (d) {
                d3.select(this)
                    .style("opacity", "1.0");
            }

            function out(d) {
                d3.select(this)
                    .style("opacity", "0.5")
            }
    }



    function renderPies(data) {
        renderPlatform(data);
        renderGenre(data);
        renderPublisher(data);
    }

    function renderBar(data) {

    }
    
    function render(data) {

        const svg = d3.select("#barchart");

        const width = +svg.attr('width');
        const height = +svg.attr('height');

        const xAxisLabelText = 'Value';

        const xValue = d => d.global_sales;
        const yValue = d => d.name;
        
        const margin = { top: 50, right: 40, bottom: 77, left: 180 };
        const innerWidth = width - margin.left - margin.right;
        const innerHeight = height - margin.top - margin.bottom;

        const xScale = d3.scaleLinear()
            .domain([0, d3.max(data, xValue)])
            .range([0, innerWidth]);
  
        const yScale = d3.scaleBand()
            .domain(data.map(yValue))
            .range([0, innerHeight])
            .padding(0.1);


        const g = svg.append('g')
            .attr('transform', `translate(${margin.left},${margin.top})`);

        const xAxisTickFormat = number =>
            d3.format('.3s')(number)
            .replace('G', 'B');
  
        const xAxis = d3.axisBottom(xScale)
            .tickFormat(xAxisTickFormat)
            .tickSize(-innerHeight);

        g.append('g')
            .call(d3.axisLeft(yScale))
            .selectAll('.domain, .tick line')
            .remove();

        const xAxisG = g.append('g').call(xAxis)
            .attr('transform', `translate(0,${innerHeight})`);
  
        xAxisG.select('.domain').remove();
  
        xAxisG.append('text')
            .attr('class', 'axis-label')
            .attr('y', 65)
            .attr('x', innerWidth / 2)
            .attr('fill', 'black')
            .text(xAxisLabelText);
      
        g.selectAll('rect').data(data)
            .enter().append('rect')
            .attr("class", function(d) {
                var c = "";
                c += d.genre;
                c += " ";
                c += d.platform;
                return c;
            })
            .attr('y', d => yScale(yValue(d)))
            .attr('width', d => xScale(xValue(d)))
            .attr('height', yScale.bandwidth())
            .style("opacity", "0.5")
            .on("mouseover", hover)
            .on("mouseout", out);

            function hover (d) {
                d3.select(this)
                    .style("opacity", "1.0");

                var c = this.getAttribute("class");
                c = c.substring(c.indexOf(" ") + 1);
                console.log(c);

                d3.selectAll(".arc." + c + " path")
                    .style("opacity", "1.0");

            }

            function out(d) {
                d3.select(this)
                    .style("opacity", "0.5")


                var c = this.getAttribute("class");
                c = c.substring(c.indexOf(" ") + 1);
                console.log(c);

                d3.selectAll(".arc." + c + " path")
                    .style("opacity", "0.5");
            }

        renderPies(data);
      }
        
   
    fetch("../static/data.json")
        .then(file => file.json())
        .then(data => render(data.slice(0, 10000)));




</script>


</body>

</html>