body {
    background-color: #263238;
}

.barchart-container {
	float: left;
}


.piechart-container {
	
}

.test {
	display: block;
}


#platform-container {
	
}

#genre-container {
	
}

#publisher-container {
	
}