body {

   background-color: #263238;
}

#barsvg {
    background-color: #37474F;
}

text {
    fill: white;
    background-color: black;
}

line {
    stroke: #90a4ae;
}

.salesHover {
    font-size: 13px;
}

#barchart {
    left: 120px;
    display: inline-block;
    position:absolute;
}


.tabhandle {
    width: 70px;
    height: 50px;
    position:fixed;
    border-style: none;
    border-radius: 0 5px 5px 0;
    background-color: #42a5f5;
    margin-left: -10px;


}
.tabhandle:hover {
    width: 75px;
    height: 51px;
}


